<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}


<body>
  <div id="wrapper">
    <div class="title">
      <div class="title-top">
        <div class="title-left">
          <div class="title-right">
            <div class="title-bottom">
              <div class="title-top-left">
                <div class="title-bottom-left">
                  <div class="title-top-right">
                    <div class="title-bottom-right">
                      <h1><a href="http://all-free-download.com/free-website-templates/">SỬA <span>LỖI</span> CHÍNH TẢ</a></h1>
                      <p>Dành cho tiếng Việt&hellip;</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="noscreen" />
    <div class="content">
      <div class="box">
        <div class="box-in" style="padding-bottom: 5px">
          <h2 style="padding-top: 15px; font-family: 'Times New Roman', Times, serif;">SỬA LỖI VĂN BẢN:</h2>
          <hr style="border-top: 3px solid #10578D; width: 300px; border-radius: 1px; padding-left: 3px">
          <div  style="height:300px; border-radius: 25px; border: 2px solid #10578D; margin: 10px 10px 20px 10px">
              <div class="check_space" style="margin:5px">
                {% for d_w, mask, c_words in words%}
                  {% if mask == 1%}
                    <div class="error_word">
                      <button class="word_btn">{{d_w}}</button>
                      <div class='hide'>
                        {% for w in c_words%}
                          <a class='correct_word'>{{w}}</a>
                        {% endfor %}

                      </div>
                    </div>

                  {% else %}

                    <div class="normal_word">{{d_w}}</div>

                  {% endif %}
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // function replace_word(this) {
    //   var x = document.getElementsByClassName("word_btn");
    //   x[0].innerHTML = $(this).text();
    // }

    $("a.correct_word").click(function() {
      var word = $(this).parent().prev()
      word.text($(this).text());
      word.css("color", "green")
    });

  </script>
</body>
</html>
