<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}


<body>
  <div id="wrapper">
    <div class="title">
      <div class="title-top">
        <div class="title-left">
          <div class="title-right">
            <div class="title-bottom">
              <div class="title-top-left">
                <div class="title-bottom-left">
                  <div class="title-top-right">
                    <div class="title-bottom-right">
                      <h1><a href="http://all-free-download.com/free-website-templates/">SỬA <span>LỖI</span> CHÍNH TẢ</a></h1>
                      <p>Dành cho tiếng Việt&hellip;</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="noscreen"/>
    <div class="content">
      <div class="box">
        <div class="box-in">
          <h2 style="padding-top: 15px; font-family: 'Times New Roman', Times, serif;">NHẬP VĂN BẢN:</h2>
          <div style="height=500px;">
              <form action="/check" method='POST' style="text-align:center;">
                <textarea id="editor" name="input"></textarea>
                <button id='btn_sub' type="submit" style="border-radius: 10px;">Check</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
